/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .contents {
        height: 75vh;
        padding: 40px 0;
        margin: 0 auto;
    }

    .contents-item {
        width: 50%;
        margin-bottom: 50px;
    }
    
    .contents-item img {
        height: 150px;
        box-shadow: 5px 5px 20px rgba(228, 228, 228, 0.886);
    }

    .badges {
        padding: 30px 0;
        margin: 0 auto;
        max-height: 700px;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .contents {
        height: 75vh;
        padding: 40px 0;
        margin: 0 auto;
    }

    .contents-item {
        width: 100%;
        margin-bottom: 50px;
    }
    
    .contents-item img {
        height: 150px;
        box-shadow: 5px 5px 20px rgba(228, 228, 228, 0.886);
    }

    .badges {
        padding: 30px 0;
        margin: 0 auto;
        max-height: 700px;
    }
}
